body {
    background-color: #fff;
    font-family: arial, sans-serif;
    color: #222;
    font-size: 14px;
    margin: 0px;
}

main {
    display: block;
    text-align: center;
    margin-top: 200px;
}

.navBar {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
    font-size: 13px;
}

.navLink {
    margin-right: 15px;
    text-decoration: none;
    color: #000;
}

.navLink:hover {
    text-decoration: underline;
}

.apps {
    background-color: #fff;
    border: none;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    color: #5f6368;
}

.apps:hover {
    background-color: rgba(95, 99, 104, 0.1);
    border-radius: 20px;
}

.logIn {
    background-color: rgb(26, 115, 232);
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 9px 15px;
    min-width: 80px;
    margin-left: 8px;
    margin-right: 8px;
    line-height: 16px;
    border-radius: 4px;
    border: none;
}

.logIn:hover {
    background-color: rgba(26, 115, 232, 0.9);
}

.googleImg {
    margin-bottom: 25px;
}

.searchForm {
    background-color: #fff;
    border: solid 1px #dfe1e5;
    border-radius: 24px;
    height: 44px;
    width: auto;
    max-width: 584px;
    margin: auto;
    text-align: left;
    display: block;
}

.searchForm:hover {
    box-shadow: 0px 0px 5px rgba(95, 99, 104, 0.3);
}

.searchBar {
    display: flex;
    margin-top: 12px;
    margin-bottom: 12px;
}

.searchIcon {
    margin-left: 12px;
    margin-right: 12px;
    color: #9aa0a6;
}

.searchInput {
    width: 450px;
}

input {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    outline: none;
}

.keyboardIcon {
    margin-left: 5px;
    margin-right: 15px;
    color: #9aa0a6;
}

.micIcon {
    color: cornflowerblue;
}

.buttonBlock {
    margin-top: 30px;
}

.buttons {
    border: none;
    background-color: #f2f2f2;
    font-size: 14px;
    color: #3c4043;
    width: 130px;
    height: 35px;
    margin: 3px; 
}

.buttons:hover {
    border: solid 1px rgb(218, 220, 224);
    border-radius: 3px;
}

.footer {
    width: 100%;
    height: 50px;
    border: solid 1px rgb(218, 220, 224);
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerLink {
    text-decoration: none;
    color: rgba(0, 0, 0, .52);
    padding: 14px;
    font-size: 14px;
}

.footerLink:hover {
    text-decoration: underline;
}

.left {
    display: flex;
    padding-left: 10px;
}

.right {
    display: flex;
    padding-right: 10px;
}